<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- One way to set value to property by using "P Schema" -->
	<bean name="prescription"
		class="com.asish.springcore.dependencycheck.Prescription" p:name="Asish Samanktaray">
		<property name="id" value="101"/>
	</bean>
	
	<!-- Way to Enable the @Required -->
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	
</beans>