<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Set the location of the property file.. -->
	<context:property-placeholder
		location="com/asish/springadvanced/propertyplaceholder/db.properties" />

	<!-- Create the object of MyDAO class -->
	<bean name="myDAO"
		class="com.asish.springadvanced.propertyplaceholder.MyDAO">
		<constructor-arg name="dbURL">
			<value>${dbURL}</value>
		</constructor-arg>
		<constructor-arg name="dbUser">
			<value>${dbUser}</value>
		</constructor-arg>
		<constructor-arg name="dbPassword">
			<value>${dbPassword}</value>
		</constructor-arg>
	</bean>

</beans>